version: '3.8'

services:
  catalog:
    build: ./catalog-service
    container_name: catalog
    environment:
      - DB_PATH=/data/catalog.db
    volumes:
      - ./catalog_data:/data
    expose:
      - "5000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/health"]
      interval: 10s
      timeout: 3s
      retries: 5

  order:
    build: ./order-service
    container_name: order
    environment:
      - DB_PATH=/data/orders.db
      - CATALOG_URL=http://catalog:5000
    volumes:
      - ./order_data:/data
    depends_on:
      - catalog
    expose:
      - "5001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5001/health"]
      interval: 10s
      timeout: 3s
      retries: 5

  client:
    build: ./client-service
    container_name: client
    environment:
      - CATALOG_URL=http://catalog:5000
      - ORDER_URL=http://order:5001
    depends_on:
      - catalog
      - order
    expose:
      - "5002"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5002/health"]
      interval: 10s
      timeout: 3s
      retries: 5

  nginx:
    image: nginx:1.27-alpine
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - client
      - order
      - catalog

volumes:
  catalog_data:
  order_data:
